/* GENERAL STYLES */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 5%;
  margin-bottom: 30px;
  text-align: center;
}

/* HERO SECTION */

.hero-image {
  height: 90%;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero-image/Profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

  .container {
    display: flex;
    justify-content: center;
  }

  .card {
    display: flex;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    margin-top: 30px;
    box-shadow: none;
    margin-bottom: 5%;
  }

  .card img {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .card .content {
    flex: 1;
  }
  
  .card h2 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .card p {
    font-size: 16px;
    margin: 0;
  }
  
  div.gallery {
    margin: 7px;
    /* border: 1px solid #ccc; */
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
